* {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.top-section {
  display: flex;
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}

.name {
  color: rgb(186, 186, 82);
}

.top-left {
  width: 50%;
  height: 400px;
  margin-left: 70px;
  margin-top: 100px;
}

.top-left h1 {
  font-size: 50px;
}

.top-left h6 {
  font-size: 18px;
}

.top-button{
  color: white;
  text-decoration: none;
  padding: 10px 17px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 30px;
  background-image: linear-gradient(yellow, green);
}

.top-right img {
  width: 90%;

}