* {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}


.name {
  color: rgb(186, 186, 82);
}

.top-description {
  margin-left: 5%;
  width: 50%;
}

.flexible-container {
  width: 100%;
  height: 500px;
  display: flex;
}

.top-section {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;

}

.mid-section {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.left-side {
  margin-top: 50px;
}

.left-side h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.left-side p {
  margin-top: 20px;
  margin-bottom: 15px;
}

.top-button {
  text-decoration: none;
  background-image: linear-gradient(yellow, tomato);
  padding: 10px 20px;
  margin-bottom: 1000px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.top-description img {
  width: 90%;
}

.second-part {
  margin-bottom: 120px;
}

.last-section h1 {
  margin-bottom: 20px;
  font-size: 35px;
}

.last-section h3 {
  margin-bottom: 15px;

}

.mini-container {
  display: flex;
}

.color {
  color: orange;
  font-weight: 700;
}

.card {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 30px;
  border-radius: 8px;

  box-shadow: 10px 10px 30px black;
}

#one {
  border-left: 5px solid red;
}

#two {
  border-left: 5px solid green;
}

.last-part {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 30px;
}